.rmdb-movie {
  margin-bottom: 100px;
<<<<<<< HEAD
=======
  border-radius: 10px;
>>>>>>> 519420c1dc55a5ee4e7b30ed78e584205f83d801
}

.rmdb-movie-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
<<<<<<< HEAD
}
=======
  border-radius: 10px;
}

.movie-trailer {
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}

.movie-trailer iframe {
  margin-top: 15px;
  border-radius: 10px;
}
>>>>>>> 519420c1dc55a5ee4e7b30ed78e584205f83d801
